
<header>
    <h1>About Me</h1>
    <div class="left-section">
        <!-- <a href="#about" class="about-link">About Me</a> -->
      
       <button> <a class="aboutlink" routerLink="/about-me">About Me</a></button>
        <div class="dropdown">
            <button>Projects</button>
            <div class="dropdown-content">
                <a routerLink="/completed-works">Completed Works</a>
                <a href="#in-progress">In Progress</a>
                <a href="#future-projects">Potential Future Projects</a>
            </div>
        </div>
    </div>
</header>